.toast-enter-active[data-v-c0ee0c34],.toast-leave-active[data-v-c0ee0c34]{transition:all .3s ease}.toast-enter-from[data-v-c0ee0c34],.toast-leave-to[data-v-c0ee0c34]{opacity:0;transform:translate(100%)}
