.toast-enter-active[data-v-b2fcdc81],.toast-leave-active[data-v-b2fcdc81]{transition:all .3s ease}.toast-enter-from[data-v-b2fcdc81],.toast-leave-to[data-v-b2fcdc81]{opacity:0;transform:translate(100%)}
