http:
  middlewares:
    auth:
      forwardAuth:
        address: "http://api-gateway:3000/auth/verify"
        trustForwardHeader: true
    
    rate-limit:
      rateLimit:
        average: 100
        period: 1m
        burst: 50
















